<div class="page-header" background>
    <img class="header-img" src="img/page-header.png">
    <div class="page-title">FoodScape</div>
    <div class="menu-bar">
        <button class="menu-btn">My Recipes</button>
        <button class="menu-btn">Sign In</button>
        <button class="menu-btn">Sign Up</button>
    </div>
</div>