<!DOCTYPE html>
<html>
    <head>
        <% include ./pageHead.ejs %>
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <% include ./header.ejs %>
        <div>
            <div class="main-tab"></div>
            <div class="side-tab">
                <div style="border-bottom: 0.5px solid #ccc; padding-bottom: 20px;">
                    <div class="side-content-box">
                        <div class="side-header">Cost</div>
                        <div class="side-content">
                            Min. <input type="number" min="0" value="0"> won<br>
                            Max. <input type="number" value="30000"> won
                        </div>
                    </div>
                    <div class="side-content-box">
                        <div class="side-header">Time</div>
                        <div class="side-content">
                            Min. <input type="number" min="0" value="0"> min<br>
                            Max. <input type="number" value="120"> min
                        </div>
                    </div>
                    <div class="side-content-box">
                        <div class="side-header">Difficulty</div>
                        <div class="side-content">
                            Min. <input type="number" min="0" max="5" value="0"><br>
                            Max. <input type="number" max="5" value="5">
                        </div>
                    </div>
                    <div class="side-content-box">
                        <div class="side-header">Rating</div>
                        <div class="side-content">
                            Min. <input type="number" min="0" max="5" value="0"><br>
                            Max. <input type="number" max="5" value="5">
                        </div>
                    </div><br>
                    <button class="redBtn" id="filter1">Filter</button>
                </div>

                <div>
                    <div class="side-header">Ingredient</div>
                    <div class="side-content" id="ingredient-tab"></div>
                    <button class="redBtn" id="filter2">Filter</button>
                </div>
            </div>
        </div>
    </body>
    <script src="script/common.js"></script>
    <script src="script/home.js"></script>
</html>