<!DOCTYPE html>
<html>
    <head>
        <% include ./pageHead.ejs %>
        <link rel="stylesheet" type="text/css" href="css/myrecipes.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <% include ./header.ejs %>
        <div>
            <div class="main-tab">
                <div class="recipe"></div>
            </div>
            <div class="side-tab" style="padding-top: 14px;">
                <div class="recipe-add">+ Add New</div>
            </div>
        </div>
    </body>
    <script src="script/common.js"></script>
    <script src="script/myrecipes.js"></script>
</html>