body{
	margin: 0px;
}

.page-header{
	height: 200px;
	border-bottom: 0.5px solid #ccc;
}

.header-img{
	width: 100%;
	opacity: 0.3;
	height: 200px;
	object-fit: cover;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.menu-btn{
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	background: #ff2222;
	padding: 8px;
	font-size: 16px;
	box-shadow: 0 0 3px black;
	cursor: pointer;
}

.menu-bar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    padding: 8px;
    text-align: right;
    z-index: 2;
}

.side-tab{
	width: 410px;
	display: inline-block;
	vertical-align: top;
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    border-left: 0.5px solid #ccc;
    padding-left: 20px;
}

.side-header{
	font-weight: bold;
	font-family: 'Ranga', cursive;
	color: #ff2222;
	font-size: 20px;
	padding: 8px;
}

.side-content{
	padding: 8px;
}

.side-content-box{
	display: inline-block;
	width: 150px;
	vertical-align: top;
}

.side-content > input, .side-content-box > input{
	border: 0.5px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	width: 50px;
	outline: none;
	text-align: center;
}

.main-tab{
	width: calc(100% - 435px);
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.page-title{
	font-size: 70px;
	text-shadow: 0 0 3px black;
	color: #ff2222;
	font-family: 'Ranga', cursive;
	height: 115px;
	text-align: center;
	padding-top: 30px;
}

.ingredient-card{
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 0.5px solid #ccc;
	text-align: center;
	margin: 3px;
	cursor: pointer;
}

.ingredient-card > img{
	object-fit: cover;
	width: 99%;
}

.ingredient-card > .footer{
	background: rgba(0,0,0,0.5);
	color: white;
	position: absolute;
	bottom: 0px;
	padding: 2px;
	width: calc(100% - 4px);
}

.redBtn{
	border: none;
	outline: none;
	color: white;
	font-weight: bold;
	background: #ff2222;
	padding: 8px;
	font-size: 16px;
	cursor: pointer;
	user-select: none;
}